<a href="https://colab.research.google.com/github/Shomail08/lab/blob/main/shomail_lab_4%2C5ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Access List Items:

In [28]:
fruits = ["pineapple", "banana", "cherry", "mango"]

print(fruits)
#print(fruits[-1])

['pineapple', 'banana', 'cherry', 'mango']

Change List Items:

In [20]:
colors = ["red", "green", "yellow", "blue"]

colors[1] = "blue"
print(colors)

['red', 'blue', 'yellow', 'blue']

Add List Items:

In [21]:
numbers = [1, 2, 3, 4, 5]

numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

Remove List Items:

In [4]:
animals = ["cat", "dog", "bird", "snake"]

del animals[2]
print(animals)

['cat', 'dog', 'snake']

Loop Lists:

In [22]:
cities = ["abbottabad", "haripur", "mang", "khanpur"]

for city in cities:
  print(city)

abbottabad
haripur
mang
khanpur

List Comprehension:

In [24]:
numbers = range(1, 11)

squared_numbers = [num * num for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Sort Lists:

In [16]:
names = ["shomail", "ali", "bilawal", "hammad"]

names.sort()
print(names)

['ali', 'bilawal', 'hammad', 'shomail']

Copy Lists:

In [25]:
fruits = ["apple", "mango", "banana"]

copied_fruits = fruits[:]
print(copied_fruits)

['apple', 'mango', 'banana']

Join Lists:

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

List Methods:

In [10]:
fruits = ["apple", "banana", "cherry"]

fruits.append("mango")
print(fruits)


last_fruit = fruits.pop()
print(fruits)
print(last_fruit)

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
mango

Combining Lists and List Comprehension:

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

sum_list = [x + y for x, y in zip(list1, list2)]
print(sum_list)  # Output: [7, 9, 11, 13, 15]

[7, 9, 11, 13, 15]

Filtering and Sorting:

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [num for num in numbers if num % 2 == 0]

even_numbers.sort(reverse=True)
print(even_numbers)

[10, 8, 6, 4, 2]

List Slicing and Reversing:

In [13]:
numbers = list(range(1, 11))

even_numbers_reversed = numbers[::2][::-1]

print(even_numbers_reversed)

[9, 7, 5, 3, 1]

Combining Lists and List Methods:

In [14]:
even_list = [2, 4, 6, 8]
odd_list = [1, 3, 5, 7, 9]

combined_list = []
for even, odd in zip(even_list, odd_list):
  combined_list.extend([even, odd])

if len(even_list) > len(odd_list):
  combined_list.extend(even_list[len(odd_list):])
elif len(odd_list) > len(even_list):
  combined_list.extend(odd_list[len(even_list):])

print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 9]